.container {
    width: 100%;
    display: flex;
    text-align: left;
    justify-content: left;
    background-color: #cdebffe5;
    padding: 0;
}

.container ul {
    font-size: 20px; /* Set the font size for list items */
    margin-bottom:10px;
}

.container ul li {
    margin-left: 10px; /* Add space before list items */
    margin-bottom:10px;
}

.container ul ul {
    margin-left: 10px; /* Adjust margin to add space between bullet points */
    font-size: 17px; /* Set the font size for nested list items */
    margin-bottom: 10px;
}